{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 min-vh-100">
    <div class="classes">
        <div class="container py-5 d-flex justify-content-center align-items-center">
            <div>
                <h1>{{ crossfit_class.name }}</h1>
                <p>{{ crossfit_class.description }}</p>
                <p>Instructor: {{ crossfit_class.instructor }}</p>
                <p>Start Time: {{ crossfit_class.start_time }}</p>
                <p>End Time: {{ crossfit_class.end_time }}</p>
                <p>Max Participants: {{ crossfit_class.max_participants }}</p>

                {% if user.is_authenticated %}
                    {% if is_booked %}
                        <form method="post" action="{% url 'cancel_booking' crossfit_class.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Cancel Booking</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'book_class' crossfit_class.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Book Now</button>
                        </form>
                    {% endif %}
                {% else %}
                    <h1><a href="{% url 'account_login' %}">Login</a> to book this class.</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}