{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Leave a comment{% endblock title %}

{% block content %}
<div class="container">
    <form method="POST" class="p-2 form">
        <h1 class="text-center">Leave a Comment</h1>
        <p>Posting as: {{ user.username }}</p>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-secondary mt-2">Send</button>
        </div>
    </form>
</div>
{% endblock content %}