:root {

    /*--- Colours ---*/

    --background: #3f006a0f; 
    --black: #000;
    --off-white: #000000;
  
    /*--- Utils ---*/

      --smal-box-shadow: 1px -1px 7px 0 #00000061;
      --border: 1px solid #00000030;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
  }

  
  main {
    flex: 1 0 auto;
    background-color: var(--white);
  }

.brand {
    font-family: Lato, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #000000;
}

.green-fit {
    color: #295500;
    font-style: italic;
    font-size: 55px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #f4f7fa;
}

.scale {
    width: 100%;
    height: auto;
}


.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background: linear-gradient(to right,  #295500,  #1b9b0a, #1b9b0a, #295500);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background-color: #295500;
    -webkit-transform: skew(5deg);
    -moz-transform: skew(5deg);
    transform: skew(5deg);
}

.event-link {
    text-decoration: none;
}

.event-link:hover,
.event-link {
    color: #1a6600;
}

.event-title {
    margin-top: 10%;
    margin-left: 5%;
}

.event-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-outline-secondary{
    background-color: #295500;
    color: #fff;
}

.btn-outline-secondary:hover {
    background-color: #1b9b0a;
    color: #fff;
}

.btn-signup {
    background-color: #295500;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #1b9b0a;
    color: #fff;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}


.btn-like:hover,
.btn-like:active {
    color: #f93200;
    background: transparent;
    border: none;
}

/*--- Blog ---*/

.blog-section {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    margin: 0 auto;
    padding: 20px 0 100px 0;
}

.blog-section .blog-btn {
    padding-top: 84px;
}

.single-blog-item {
    background-color: rgb(225, 225, 225);
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 91px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.single-blog-item.plain-text {
    padding-left: 45px;
    padding-top: 155px;
    padding-right: 35px;
    height: calc( 100% - 30px);
    position: relative;
}

.single-blog-item.plain-text .blog-text {
    text-align: center;
}

.btn {
    background-color: #295500;
    color: #fff;
}

.btn-info:hover {
    background-color: #1b9b0a;
    color: #fff;
}

#deleteConfirm {
    background: #E84610;
}

.card {
    border: none;
    background-color: transparent;
}

.author {
    color: #295500;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.blog-img img {
	width: 100%;
}

.blog-text {
	padding-top: 36px;
	padding-left: 38px;
	padding-right: 20px;
}

.blog-text span.blog-time {
    display: inline-block;
    font-size: 16px;
    color: #858585;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    margin-bottom: 34px;
}

.comments-container {
    padding: 10px;
    background-color: rgb(225, 225, 225);
}

.single-sections {
	background: #295500;
	text-align: center;
	color: #ffffff;
	padding-top: 22px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.hero-img-slide {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.471);
}

/*--- About ---*/

.about-section {
    padding-top: 114px;
    padding-bottom: 85px;
}

.section-title {
    margin-bottom: 30px;
}

.about-image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero-video-slide {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*--- Booking ---*/

.btn-primary:hover {
    background-color: #1b9b0a;
}

.btn-delete:hover {
    background-color: #f93200;
    color: #fff;
}

.btn-cancel:hover {
    background-color: #858585;
    color: #fff;
}

.btn-edit:hover {
    background-color: #2773fe;
    color: #fff;
}

.class-list {
    background-color: rgb(225, 225, 225);
    padding: 10px;
}

.heart-color {
    color: #f93200;
    font-weight: bold;
}

/*--- Classes ---*/

.classes {
    background: linear-gradient(to right,  #295500,  #1b9b0a, #9df478, #1b9b0a, #295500);
}

.daily-routine {
    margin-bottom: 20px;
}

li {
    padding: 10px;
    text-align: center;
}

.week-name {
    background-color: #268118;
    color: white;
}

.work-hours {
    background-color: #bbf0b4;
}

/*--- Contact ---*/

.contact {
    background: linear-gradient(to right,  #295500,  #1b9b0a, #9df478, #1b9b0a, #295500);
  }

.btn-success:hover {
    background-color: #1b9b0a;
}

/*--- MAP ---*/

#map {
    height: 35vh;
    width: 50%;
    box-shadow: 20px 0px 30px #295500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
    
}

.section-heading {
    color: #295500;
    font-weight: bold;
    margin: 20px;
}

/*--- Optional hover to match the zoom icon */

.leaflet-touch .geocoder-control-input:hover {
    background-color: #000000;
}

/*--- Footer ---*/

footer {
    background: linear-gradient(to right,  #295500,  #1b9b0a, #9df478, #1b9b0a, #295500);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
} 
